<div id="modal" class="modal hide fade">
  <div class="modal-body">
    <div class="text-center">
      <img class="logo-welcome" src="{{ url_for('static', filename='assets/logo-piratebox-v2.png') }}"></a>
      <h4>Welcome to my Piratebox</h4>
      <p>Don't worry, there is nothing illegal going on here...</p>
      <p>You're currently connected to an off-line network which had been designed and developed for <strong>anonymous file-sharing</strong>.</p>
      <a href="/concept">Learn more</a>
    </div>
    <div class="pull-right">
      <a id="modal-stop" href="#" class="btn btn-primary">Close</a>
    </div>  
  </div>
</div> <!-- /modal -->